.avatar > img{

 height: 500px;
 width: 500px;
   
    
}

main > .content > .sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 95px 114px 120px 122px;
    gap:8rem


}
main > .content >   .sectionAbout > .aboutWork{
    display: flex;
    overflow: hidden;
    min-width: 500px;
    justify-content: center;
    font-family: 'Inconsolata';
}
main > .content >   .sectionAbout > .aboutWork > .textoDinamico > ul > li{
  position: relative;
  list-style: none;
  animation: slide 8s steps(4) infinite;
 
 

  color:#fff ;
  font-weight: 700;


  top:0;
  font-size: 3rem;
  line-height: 4rem;
  color: var(--orange-300
  );
}
main > .content >   .sectionAbout > .aboutWork > .textoDinamico {
    height: 60px;
}
main > .content >   .sectionAbout > .aboutWork > .textoDinamico > ul > li::after{
content: '';
position: absolute;
left:0;
width: 100%;;
height: 100%;
background-color: var(--gray-800);
animation: typing 2s steps(15) infinite;
border-left: 2px solid var(--orange-300);
}
@keyframes typing{
 40% ,60% {
left:105%
 }
 100%{
left:0
 }
}
@keyframes typing-short {
    40% ,60% {
        left:63%
         }
         100%{
        left:0
         }
}
main >   .content  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
main >   .content > .sectionAbout > .aboutWork > .textoEstatico {
    font-weight: 900;
    color: var(--white
    );
    font-size: 2.5rem;
    line-height: 4rem;
  }
  @keyframes slide {
    100%{
        top: -255px;

    }
  }

  main >   .content > .sectionAbout > .aboutWork > .textoDinamico > ul > li:nth-last-of-type(1)::after{
animation-name:typing-short ;
  }
main > .content > .sectionAbout > .aboutMe h1{
    font-weight: 900;
    color: var(--orange-300
    );
    font-size: 3rem;
    line-height: 4rem;
}
main > .content > .sectionAbout > .aboutMe{
    max-width: 800px;
}
main > .content > .sectionAbout > .aboutMe h3{
    color: var(--white);
    font-family: 'Inconsolata';
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.6rem;
    color: var(--white);

}
main > .content > .sectionAbout > .aboutMe p{
    font-size: 1.25rem;
    margin-top: 18px;
    font-family: 'Inconsolata';
    max-width: 904px;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--white);
}
main > .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-200);
    gap:2rem;
    padding: 4rem 12.563rem;
}
main > .aboutMe p{
    font-family: 'Inconsolata';
    max-width: 904px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--white);
}
.titleCard{
    font-family: 'Inconsolata';
    color: var(--orange-300);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.cardSkill{
     
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    gap:1rem
}
main > .projects{
    padding: 1rem 5rem;
}
.responsive{
    display: none;
}
body{
    background-color: var(--gray-800);
}

@media  (max-width:  1520px){
    main > .content > .sectionAbout{
        padding: 0;
    }
    main > .content > .sectionAbout > .aboutMe p {
        max-width: 600px;
    }
    main >   .content {
        align-items: center;
        justify-content: center
    }
}
;
    

@media (max-width:1200px) {
    main > .aboutMe {
       padding: 0;
    }
    
  .responsive{
        display: block;
    }
    .construction{
        background-image: url("/public/assets/UI\ Developer.gif");
        height: 100vh;
        width: 100vw;
        background-size: contain;
        background-repeat: no-repeat;
       
    }
    .responsive{
        position: relative;
    }
    .responsive > h2 {
    font-family: 'Inconsolata';
    color: var(--orange-700);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 2rem;
    position: absolute;
    top: 35rem;
    }
    
    main{
        display: none;
    }
    body{
        background-color: #000;
    }
}
@media (max-width:500px) {
    .construction{
        background-image: url("/public/assets/gifdev.gif");
        height: 100vh;
        width: 100vw;
        background-size: contain;
        background-repeat: no-repeat;
       
    }
    .responsive{
        position: relative;
    }
    .responsive > h2 {
    font-family: 'Inconsolata';
    color: var(--orange-700);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 2rem;
    position: absolute;
    top: 20rem;
    }
    
    main{
        display: none;
    }
    body{
        background-color: #000;
    }
}